* {
    background-color: black;
    color: white;
    margin: 15px;
    font-family: 'Press Start 2P', system-ui;
    line-height: 1.1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 1px;
}

body {
    margin: 5px 30px;
}

.highScoresBtn {
    /* font-family: 'Press Start 2P', cursive; */
    font-size: 10px;
    color: white;
    background: linear-gradient(#0000FF00, #8000FF80, #FF00FFFF);
    background-size: 300% 300%;
    border: 2px solid #00FFFF;
    text-shadow: 1px 1px 2px black;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    animation: gradientBG 5s ease infinite;
}

.highScoresBtn:hover {
    background-color: #00FFFF;
    color: aqua;
    text-shadow: 1px 1px 2px black;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.timerEl {
    margin-right: 50px;
    margin-top: 30px;
}

.startBtn {
    background-color: black;
    color: aqua;
    border-color: #FF00FFFF;
    border-radius: 3px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    padding:10px;
}

.startBtn:hover {
    box-shadow: 2px 2px 0px aqua;
}
.startBtn:active {
    box-shadow: 
    0px 0px 6px #00ff,
    1px 1px 12px #ffffa4,
    2px 2px 20px #fde53b,
    2px 2px 30px red;
}

.submitBtn {
    color: aqua;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 10px;
    background-color: rgb(7, 202, 202);
    border-radius: 6px;
    color: white;
    padding: 3px;
}

/* add pointer cursor when selecting answer and make it more pretty when I get a chance */