* {
    background-color: black;
    color: white;
    margin: 15px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 1px;
}

body {
    margin: 5px 30px;
}

.timerEl {
    margin-right: 50px;
    margin-top: 5px;
}

.startBtn {
    background-color: black;
    color: aqua;
    border-radius: 5px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px aqua;
}

.startBtn:hover {
    box-shadow: 0px 0px 20px aqua;
}
.startBtn:active {
    box-shadow: 
    0px 0px 5px #00ff,
    1px 1px 12px #ffffa4,
    2px 2px 20px #fde53b,
    2px 2px 30px red;
}

.submitBtn {
    color: aqua;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 10px;
    background-color: rgb(7, 202, 202);
    border-radius: 6px;
    color: white;
    padding: 3px;
}

/* add pointer cursor when selecting answer and make it more pretty when I get a chance */